<div class="quiz-wrapper">
    <mat-card class="header">
        <div class="timer">
            <span>Time: </span>
            <span>{{ times.m < 10 ? "0" + times.m : times.m }}:{{ times.s < 10 ? "0" + times.s : times.s }}</span>
        </div>
    </mat-card>

    <mat-card class="quiz-question-wrapper">
        <mat-card class="question">{{ activeQuestion.question }}</mat-card>

        <mat-card class="answers" *ngFor="let ans of activeQuestion.answers; let i = index">
            <div [class]="ans.selected == true ? 'selected-answer' : ''" (click)="selectAnswer(ans.ans, i)">{{ ans.ans | titlecase }}</div>
        </mat-card>

        <mat-card class="buttons-wrapper">
            <button mat-raised-button (click)="selectQuestion()">{{ numOfQuestions == activeQuestionIndex ? 'Submit Quiz' : 'Next Question' }}</button>
            <button mat-raised-button (click)="showModal()">Quit</button>
        </mat-card>
    </mat-card>
</div>

<div class="modal-wrapper" *ngIf="modalActive">
    <mat-card class="modal-content">
        <div class="title">Are You Sure You Wish To Quit?</div>
        <div class="buttons-wrapper">
            <button mat-raised-button (click)="quitQuiz()">Yes</button>
            <button mat-raised-button (click)="hideModal()">No</button>
        </div>
    </mat-card>
</div>