<div class="quiz-wrapper" *ngIf="quizService.val != undefined">
    <mat-card class="quiz-question-wrapper">
        <mat-card class="question">{{ activeQuestion.question }}</mat-card>

        <mat-card class="answers" *ngFor="let ans of activeQuestion.answers; let i = index">
            <div 
            [class]="ans.selected == true ? ans.ans == activeQuestion.correctAnswer ? 'correct-answer' : 'incorrect-answer' : ans.ans == activeQuestion.correctAnswer ? 'correct-answer' : ''"
            >{{ ans.ans | titlecase }}</div>
        </mat-card>

        <mat-card class="buttons-wrapper">
            <button mat-raised-button (click)="showModal()">Quit</button>
            <button mat-raised-button (click)="nextQuestion()">Next Question</button>
            <button mat-raised-button (click)="previousQuestion()">Previous Question</button>
        </mat-card>
    </mat-card>
</div>

<div class="modal-wrapper" *ngIf="modalActive">
    <mat-card class="modal-content">
        <div class="title">Are You Sure You Wish To Quit?</div>
        <div class="buttons-wrapper">
            <button mat-raised-button (click)="quitReview()">Yes</button>
            <button mat-raised-button (click)="hideModal()">No</button>
        </div>
    </mat-card>
</div>