.quiz-page-wrapper {
    display: flex;
    justify-content: space-between;

    .quiz-choice-wrapper {
        margin-top: 60px;
        margin-left: 80px;
        width: 55%;

        mat-card {
            width: 100%;
            margin: 20px 0;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-around;

            mat-card-title {
                width: 17%;
            }
        }
    }

    .quiz-category {
        width: 24%;
        margin-right: 80px;
        margin-top: 78px;

        .num-of-questions {
            font-size: 1.13em;
        }

        mat-card-title {
            margin-bottom: 20px;
        }

        mat-checkbox {
            display: block;
            margin: 6px 0;
        }

        button {
            font-size: 1.1em;
            color: white;
            background-color: rgb(49,209,88);
            margin-top: 20px;
            
        }
    }

    // .stats-wrapper {
    //     width: 30%;
    //     margin-right: 80px;
    //     margin-top: 120px;

    //     mat-card-title {
    //         font-size: 1.9em;
    //         border-bottom: 1px solid black;
    //         padding-bottom: 7px;
    //     }

    //     mat-card-content {

    //         div {
    //             margin: 30px 0;
    //             font-size: 1.2em;
                
    //         }
    //     }
    // }
}